## LaTex generated PDFs
papers/wec_as_multiport/wec_as_multiport.pdf
papers/hull_aspect_ratios/hull_aspect_ratios.pdf

## Data
*.nc
*.stl
*.mat
*.zip
**/data/*

## VS Code
*.vscode/*

## IPE
*.pdf.autosave.ipe

## Python package
wec_as_multiport.egg-info/*
*/__pycache__/*

## Core latex/pdflatex auxiliary files:
*.dep
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.spl
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# macos
.DS_Store
