name: Build, test, and deploy

on:
  push:
    branches: [ "main" ]

jobs:
  build_and_test:
    permissions:
      contents: read
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        runner: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - name: Checkout the repo
      uses: actions/checkout@v4
    - name: Install libGLU for Linux
      if: matrix.os == 'ubuntu-latest'
      run: sudo apt-get install libglu1
    - name: Install Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        cache: 'pip'
    - name: Install Python package
      run: |
        python -m pip install --upgrade pip
        pip install flake8
        pip install .
    - name: Lint package with flake8
      run: flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
    - name: Test package with pytest
      run: pytest tests
  run_notebooks:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the repo
      uses: actions/checkout@v4
    - name: Install libGLU for Linux
      run: sudo apt-get install libglu1
    - name: Install LaTex
      run: |
        sudo apt-get update
        sudo apt-get install -y texlive
        sudo apt install dvipng texlive-latex-extra texlive-fonts-recommended cm-super
    - name: Install Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        cache: 'pip'
    - name: Install Python package
      run: |
        python -m pip install --upgrade pip
        pip install .
    - name: Install Jupyter, etc.
      run: pip install jupyter nbconvert
    - name: Run Jupyter notebook
      run: |
        jupyter nbconvert --to notebook --execute papers/wec_as_multiport/wec_as_multiport.ipynb
  build_latex:
    runs-on: ubuntu-latest
    needs: run_notebooks
    outputs:
      output1: ${{ steps.artifact-upload-step.outputs.artifact-id }}
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
      - name: Display file listing
        run: ls -R
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v3
        with:
          work_in_root_file_dir: true
          root_file: papers/wec_as_multiport/wec_as_multiport.tex
      - name: Upload PDF file
        uses: actions/upload-artifact@v4
        id: artifact-upload-step
        with:
          name: PDFs
          path: papers/wec_as_multiport/wec_as_multiport.pdf
          compression-level: 0
  deploy_papers:
    runs-on: ubuntu-latest
    needs: [run_notebooks, build_latex]
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: PDFs
          merge-multiple: true
      - name: Display file listing
        run: ls -R
      - name: Deploy on orphan branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ${{ github.workspace }}
          publish_branch: build
          force_orphan: true
